* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:390px;
  margin: 53px auto;
}

p {
  display: block;
  width: 420px;
  margin: 53px auto;
  font: 33px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
